.header {
  height: 4rem;
  font-family: 'Cabin Sketch', cursive;
  background-color: #009E44;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem; }

h4 {
  font-family: 'Cabin Sketch', cursive;
  font-size: 45px; }
