section {
  padding-top: 200px;
  align-self: center;
}
#acc {
    margin-top: 10px;
    font-size: 10px;
    font-family: 'Press Start 2P', cursive;
}
SIGNUP
section {
  padding-top: 200px;
  align-self: center;
}
#acc {
    margin-top: 10px;
    font-size: 10px;
    font-family: 'Press Start 2P', cursive;
}
